#
# Qt creator files and directoires
#

*Makefile*
*_Debug
*_Release
*.debug
*.release
*.pro.user
*.pdb

# Eaagles pre-processed files
*.edl

tmp/
bin/
debug/
release/

#
# Main Linux apps
#
qtMainSim4

#
# backup files
#
*.bak
*~

#
# compiled/linked/executable files
#
*.so
*.o
*.a
*.lib
*.exe
*.exp

# Exceptions
!mcpp.exe
